In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("Train.csv")
test = pd.read_csv("Test.csv")

In [3]:
dataset = [df,test]

In [7]:
for x in dataset:
    x['industry'] = x['industry'].map({"Pharma":5,"Auto":4,"Political":3,"Entertainment":2,"Other":1,"ClassAction":0})
    x['genre'] = x['genre'].map({"Comedy":4,"Infomercial":3,"Drama":2,"Direct":1,"Other":0})
    x['targeted_sex']=x['targeted_sex'].map({"Male":1,"Female":0})
    x['airtime']=x.airtime.map({"Primetime":2,"Morning":1,"Daytime":0})
    x['expensive']=x.expensive.map({"High":2,"Medium":1,"Low":0})
    x['money_back_guarantee']=x.money_back_guarantee.map({"Yes":1,"No":0})
    x['realtionship_status']=x.realtionship_status.map({"Married-civ-spouse":6,"Never-married":5,"Divorced":4,"Widowed":3,"Separated":2,"Married-spouse-absent":1,"Married-AF-spouse":0})

In [8]:
df['ratings']=(df['ratings']*100000).astype(int)

In [9]:
test['ratings']=(test['ratings']*100000).astype(int)

In [10]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
for x in dataset:
    x['airlocation'] = le.fit_transform(x['airlocation'])

In [11]:
df['netgain'] = le.fit_transform(df.netgain)

In [12]:
y = df['netgain'].values

In [14]:
x = df.drop(['netgain'],axis=1).values

In [16]:
from sklearn.model_selection import KFold
cv = KFold(n_splits=10,random_state=42,shuffle=False)
for train_index,test_index in cv.split(x):
    print("train index: ",train_index)
    print("test index: ",test_index)

train index:  [ 2605  2606  2607 ... 26045 26046 26047]
test index:  [   0    1    2 ... 2602 2603 2604]
train index:  [    0     1     2 ... 26045 26046 26047]
test index:  [2605 2606 2607 ... 5207 5208 5209]
train index:  [    0     1     2 ... 26045 26046 26047]
test index:  [5210 5211 5212 ... 7812 7813 7814]
train index:  [    0     1     2 ... 26045 26046 26047]
test index:  [ 7815  7816  7817 ... 10417 10418 10419]
train index:  [    0     1     2 ... 26045 26046 26047]
test index:  [10420 10421 10422 ... 13022 13023 13024]
train index:  [    0     1     2 ... 26045 26046 26047]
test index:  [13025 13026 13027 ... 15627 15628 15629]
train index:  [    0     1     2 ... 26045 26046 26047]
test index:  [15630 15631 15632 ... 18232 18233 18234]
train index:  [    0     1     2 ... 26045 26046 26047]
test index:  [18235 18236 18237 ... 20837 20838 20839]
train index:  [    0     1     2 ... 26045 26046 26047]
test index:  [20840 20841 20842 ... 23441 23442 23443]
train index:  [    0     1     2 ... 23441 23442 23443]
test index:  [23444 23445 23446 ... 26045 26046 26047]

In [17]:
x_train,x_test,y_train,y_test = x[train_index],x[test_index],y[train_index],y[test_index]

In [43]:
from sklearn.ensemble import RandomForestClassifier
clf=RandomForestClassifier(n_estimators=100)
clf.fit(x_train,y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [44]:
train.head()

           0  1  2  3  4   5  6   7     8  9  10
19717  19717  1  4  4  1  45  2  39  2746  2   0
31593  31593  6  5  4  1  45  2  39  2746  0   0
5681    5681  4  2  4  0  45  2  39  2746  2   1
15491  15491  2  3  3  0  40  2  39  2746  0   0
23587  23587  6  5  4  1  48  2  39  2746  2   0

In [48]:
feature_importances = pd.DataFrame(clf.feature_importances_,index = x_train[0],columns=['importance']).sort_values('importance',ascending=False)

In [49]:
feature_importances

       importance
19717    0.454893
2746     0.143731
1        0.108298
45       0.100985
4        0.072010
2        0.032819
39       0.027544
2        0.020689
4        0.015052
0        0.014496
1        0.009484

In [47]:
df.head()

,id,realtionship_status,industry,genre,targeted_sex,average_runtime(minutes_per_week),airtime,airlocation,ratings,expensive,money_back_guarantee,netgain
0,19717,1,4,4,1,45,2,39,2746,2,0,0
1,31593,6,5,4,1,45,2,39,2746,0,0,0
2,5681,4,2,4,0,45,2,39,2746,2,1,0
3,15491,2,3,3,0,40,2,39,2746,0,0,0
4,23587,6,5,4,1,48,2,39,2746,2,0,1

In [50]:
#Classifier Imports
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB, MultinomialNB, BernoulliNB
from sklearn.linear_model import LogisticRegression, SGDClassifier
from sklearn.svm import SVC, LinearSVC, NuSVC

In [51]:
# Initialize our classifiers
gnb = GaussianNB()
KNN = KNeighborsClassifier(n_neighbors=10)
MNB = MultinomialNB()
BNB = BernoulliNB()
LR = LogisticRegression()
SDG = SGDClassifier()
SVC = SVC()
LSVC = LinearSVC()
NSVC = NuSVC()

In [54]:
from sklearn import metrics

In [56]:
#GaussianNB
gnb.fit(x_train, y_train)
y2_GNB_model = gnb.predict(x_test)
print("GaussianNB Accuracy :", metrics.accuracy_score(y_test, y2_GNB_model))

GaussianNB Accuracy : 0.8022273425499232

In [57]:
#KNN
KNN.fit(x_train,y_train)
y2_KNN_model = KNN.predict(x_test)
print("KNN Accuracy :", metrics.accuracy_score(y_test, y2_KNN_model))

KNN Accuracy : 0.8056835637480799

In [59]:
#BNB
BNB.fit(x_test,y_test)
y2_BNB_model = BNB.predict(x_test)
print("BNB Accuracy :", metrics.accuracy_score(y_test, y2_BNB_model))

BNB Accuracy : 0.7688172043010753

In [60]:
#LinearRegression
LR.fit(x_test,y_test)
y2_LR_model = LR.predict(x_test)
print("LR Accuracy :", metrics.accuracy_score(y_test, y2_LR_model))

LR Accuracy : 0.7884024577572964

/home/harsh/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

In [62]:
#SDG
SDG.fit(x_test,y_test)
y2_SDG_model = SDG.predict(x_test)
print("SDG Accuracy :", metrics.accuracy_score(y_test, y2_SDG_model))

SDG Accuracy : 0.7772657450076805

In [65]:
#SVC
SVC.fit(x_test,y_test)
y2_SVC_model = SVC.predict(x_test)
print("SVC Accuracy :", metrics.accuracy_score(y_test, y2_SVC_model))

/home/harsh/anaconda3/lib/python3.7/site-packages/sklearn/svm/base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

SVC Accuracy : 0.9957757296466974

In [66]:
#LSVC
LSVC.fit(x_test,y_test)
y2_LSVC_model = LSVC.predict(x_test)
print("LSVC Accuracy :", metrics.accuracy_score(y_test, y2_LSVC_model))

LSVC Accuracy : 0.7665130568356375

/home/harsh/anaconda3/lib/python3.7/site-packages/sklearn/svm/base.py:929: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)

In [68]:
    x = test.values

In [69]:
Y_pred = SVC.predict(x)

In [70]:
dft = test['id']

In [71]:
dft = pd.DataFrame(dft)

In [72]:
dft['netgain'] = Y_pred

In [73]:
dft.head(10)

   id  netgain
0   1        0
1   4        0
2   5        0
3   9        0
4  10        0
5  20        0
6  28        0
7  31        0
8  32        0
9  34        0

In [74]:
dft.loc[dft['netgain']==0,'netgain']='false'
dft.loc[dft['netgain']==1,'netgain']='true'

In [75]:
dft.head()

   id netgain
0   1   false
1   4   false
2   5   false
3   9   false
4  10   false

In [76]:
dft.to_csv("SVC_submission.csv",index=False)