In [498]:
import pandas as pd
import numpy as np

In [499]:
df = pd.read_csv("Train.csv")
test = pd.read_csv("Test.csv")

In [500]:
dataset = [df,test]

In [501]:
df.head()

,id,realtionship_status,industry,genre,targeted_sex,average_runtime(minutes_per_week),airtime,airlocation,ratings,expensive,money_back_guarantee,netgain
0,19717,Married-spouse-absent,Auto,Comedy,Male,45,Primetime,United-States,0.027465,High,No,False
1,31593,Married-civ-spouse,Pharma,Comedy,Male,45,Primetime,United-States,0.027465,Low,No,False
2,5681,Divorced,Entertainment,Comedy,Female,45,Primetime,United-States,0.027465,High,Yes,False
3,15491,Separated,Political,Infomercial,Female,40,Primetime,United-States,0.027465,Low,No,False
4,23587,Married-civ-spouse,Pharma,Comedy,Male,48,Primetime,United-States,0.027465,High,No,True

In [502]:
test.head()

,id,realtionship_status,industry,genre,targeted_sex,average_runtime(minutes_per_week),airtime,airlocation,ratings,expensive,money_back_guarantee
0,1,Widowed,Auto,Comedy,Female,10,Daytime,United-States,0.027465,Low,No
1,4,Married-civ-spouse,Pharma,Comedy,Male,40,Morning,United-States,0.056262,High,Yes
2,5,Divorced,Entertainment,Comedy,Female,50,Morning,United-States,0.027465,Low,No
3,9,Married-civ-spouse,Pharma,Infomercial,Male,40,Primetime,United-States,0.027465,Low,No
4,10,Married-civ-spouse,Pharma,Comedy,Male,40,Primetime,United-States,0.027465,Low,Yes

In [503]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26048 entries, 0 to 26047
Data columns (total 12 columns):
id                                   26048 non-null int64
realtionship_status                  26048 non-null object
industry                             26048 non-null object
genre                                26048 non-null object
targeted_sex                         26048 non-null object
average_runtime(minutes_per_week)    26048 non-null int64
airtime                              26048 non-null object
airlocation                          26048 non-null object
ratings                              26048 non-null float64
expensive                            26048 non-null object
money_back_guarantee                 26048 non-null object
netgain                              26048 non-null bool
dtypes: bool(1), float64(1), int64(2), object(8)
memory usage: 2.2+ MB

In [504]:
df.industry.value_counts()

Pharma           10339
Auto              6801
Political         4014
Entertainment     2765
Other             1333
ClassAction        796
Name: industry, dtype: int64

In [505]:
df.genre.value_counts()

Comedy         22258
Infomercial     2516
Drama            803
Direct           247
Other            224
Name: genre, dtype: int64

In [506]:
df.expensive.value_counts()

Low       15693
High       7279
Medium     3076
Name: expensive, dtype: int64

In [507]:
for x in dataset:
    x['industry'] = x['industry'].map({"Pharma":5,"Auto":4,"Political":3,"Entertainment":2,"Other":1,"ClassAction":0})
    x['genre'] = x['genre'].map({"Comedy":4,"Infomercial":3,"Drama":2,"Direct":1,"Other":0})
    x['targeted_sex']=x['targeted_sex'].map({"Male":1,"Female":0})
    x['airtime']=x.airtime.map({"Primetime":2,"Morning":1,"Daytime":0})
    x['expensive']=x.expensive.map({"High":2,"Medium":1,"Low":0})
    x['money_back_guarantee']=x.money_back_guarantee.map({"Yes":1,"No":0})
    x['realtionship_status']=x.realtionship_status.map({"Married-civ-spouse":6,"Never-married":5,"Divorced":4,"Widowed":3,"Separated":2,"Married-spouse-absent":1,"Married-AF-spouse":0})

In [508]:
df['ratings']=(df['ratings']*100000).astype(int)

In [509]:
test.head()

,id,realtionship_status,industry,genre,targeted_sex,average_runtime(minutes_per_week),airtime,airlocation,ratings,expensive,money_back_guarantee
0,1,3,4,4,0,10,0,United-States,0.027465,0,0
1,4,6,5,4,1,40,1,United-States,0.056262,2,1
2,5,4,2,4,0,50,1,United-States,0.027465,0,0
3,9,6,5,3,1,40,2,United-States,0.027465,0,0
4,10,6,5,4,1,40,2,United-States,0.027465,0,1

In [510]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
for x in dataset:
    x['airlocation'] = le.fit_transform(x['airlocation'])

In [511]:
df.head()

,id,realtionship_status,industry,genre,targeted_sex,average_runtime(minutes_per_week),airtime,airlocation,ratings,expensive,money_back_guarantee,netgain
0,19717,1,4,4,1,45,2,39,2746,2,0,False
1,31593,6,5,4,1,45,2,39,2746,0,0,False
2,5681,4,2,4,0,45,2,39,2746,2,1,False
3,15491,2,3,3,0,40,2,39,2746,0,0,False
4,23587,6,5,4,1,48,2,39,2746,2,0,True

In [512]:
# def gain(x):
#     if x=="True":
#         return 1
#     if x=="False":
#         return 0

In [513]:
# df['netgain_e'] = df['netgain'].apply(gain)

In [514]:
df['netgain'] = le.fit_transform(df.netgain)

In [515]:
df.realtionship_status.value_counts()

6    11844
5     8547
4     3649
3      818
2      793
1      378
0       19
Name: realtionship_status, dtype: int64

In [516]:
df.head()

,id,realtionship_status,industry,genre,targeted_sex,average_runtime(minutes_per_week),airtime,airlocation,ratings,expensive,money_back_guarantee,netgain
0,19717,1,4,4,1,45,2,39,2746,2,0,0
1,31593,6,5,4,1,45,2,39,2746,0,0,0
2,5681,4,2,4,0,45,2,39,2746,2,1,0
3,15491,2,3,3,0,40,2,39,2746,0,0,0
4,23587,6,5,4,1,48,2,39,2746,2,0,1

In [517]:
y = df['netgain'].values

In [518]:
x = df.drop(['netgain'],axis=1).values

In [519]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2)

In [520]:
from sklearn.ensemble import RandomForestClassifier
clf=RandomForestClassifier(n_estimators=100)
clf.fit(x_train,y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [521]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26048 entries, 0 to 26047
Data columns (total 12 columns):
id                                   26048 non-null int64
realtionship_status                  26048 non-null int64
industry                             26048 non-null int64
genre                                26048 non-null int64
targeted_sex                         26048 non-null int64
average_runtime(minutes_per_week)    26048 non-null int64
airtime                              26048 non-null int64
airlocation                          26048 non-null int64
ratings                              26048 non-null int64
expensive                            26048 non-null int64
money_back_guarantee                 26048 non-null int64
netgain                              26048 non-null int64
dtypes: int64(12)
memory usage: 2.4 MB

In [522]:
df.expensive.isna().sum()

0

In [523]:
y_pred=(model.predict(x_test)).astype(int)

In [524]:
y_test

array([0, 0, 0, ..., 0, 0, 1])

In [525]:
y_pred

array([0, 0, 0, ..., 0, 0, 1])

In [526]:
from sklearn import metrics

In [527]:
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.7863723608445298

In [530]:
test.head()

,id,realtionship_status,industry,genre,targeted_sex,average_runtime(minutes_per_week),airtime,airlocation,ratings,expensive,money_back_guarantee
0,1,3,4,4,0,10,0,38,2746,0,0
1,4,6,5,4,1,40,1,38,5626,2,1
2,5,4,2,4,0,50,1,38,2746,0,0
3,9,6,5,3,1,40,2,38,2746,0,0
4,10,6,5,4,1,40,2,38,2746,0,1

In [529]:
test['ratings']=(test['ratings']*100000).astype(int)

In [531]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6513 entries, 0 to 6512
Data columns (total 11 columns):
id                                   6513 non-null int64
realtionship_status                  6513 non-null int64
industry                             6513 non-null int64
genre                                6513 non-null int64
targeted_sex                         6513 non-null int64
average_runtime(minutes_per_week)    6513 non-null int64
airtime                              6513 non-null int64
airlocation                          6513 non-null int64
ratings                              6513 non-null int64
expensive                            6513 non-null int64
money_back_guarantee                 6513 non-null int64
dtypes: int64(11)
memory usage: 559.8 KB

In [532]:
x = test.values

In [534]:
Y_pred = model.predict(x)

In [ ]:
dft = te