In [48]:
import pandas as pd
import numpy as np

In [49]:
df = pd.read_csv("../input/Train.csv")
test = pd.read_csv("../input/Test.csv")

In [50]:
dataset = [df,test]

In [51]:
df.head()

,id,realtionship_status,industry,genre,targeted_sex,average_runtime(minutes_per_week),airtime,airlocation,ratings,expensive,money_back_guarantee,netgain
0,19717,Married-spouse-absent,Auto,Comedy,Male,45,Primetime,United-States,0.027465,High,No,False
1,31593,Married-civ-spouse,Pharma,Comedy,Male,45,Primetime,United-States,0.027465,Low,No,False
2,5681,Divorced,Entertainment,Comedy,Female,45,Primetime,United-States,0.027465,High,Yes,False
3,15491,Separated,Political,Infomercial,Female,40,Primetime,United-States,0.027465,Low,No,False
4,23587,Married-civ-spouse,Pharma,Comedy,Male,48,Primetime,United-States,0.027465,High,No,True

In [52]:
df.describe(include=['object','float','int','bool'])

,id,realtionship_status,industry,genre,targeted_sex,average_runtime(minutes_per_week),airtime,airlocation,ratings,expensive,money_back_guarantee,netgain
count,26048.000000,26048,26048,26048,26048,26048.000000,26048,26048,26048.000000,26048,26048,26048
unique,NaN,7,6,5,2,NaN,3,42,NaN,3,2,2
top,NaN,Married-civ-spouse,Pharma,Comedy,Male,NaN,Primetime,United-States,NaN,Low,Yes,False
freq,NaN,11844,10339,22258,17245,NaN,15652,23250,NaN,15693,13073,19853
mean,16268.744779,NaN,NaN,NaN,NaN,40.294111,NaN,NaN,0.038716,NaN,NaN,NaN
std,9413.578020,NaN,NaN,NaN,NaN,12.479457,NaN,NaN,0.075852,NaN,NaN,NaN
min,2.000000,NaN,NaN,NaN,NaN,1.000000,NaN,NaN,0.000000,NaN,NaN,NaN
25%,8095.750000,NaN,NaN,NaN,NaN,40.000000,NaN,NaN,0.027465,NaN,NaN,NaN
50%,16237.000000,NaN,NaN,NaN,NaN,40.000000,NaN,NaN,0.027465,NaN,NaN,NaN
75%,24413.500000,NaN,NaN,NaN,NaN,45.000000,NaN,NaN,0.027465,NaN,NaN,NaN
max,32561.000000,NaN,NaN,NaN,NaN,99.000000,NaN,NaN,1.000000,NaN,NaN,NaN

In [53]:
for x in dataset:
    x['industry'] = x['industry'].map({"Pharma":5,"Auto":4,"Political":3,"Entertainment":2,"Other":1,"ClassAction":0})
    x['genre'] = x['genre'].map({"Comedy":4,"Infomercial":3,"Drama":2,"Direct":1,"Other":0})
    x['targeted_sex']=x['targeted_sex'].map({"Male":1,"Female":0})
    x['airtime']=x.airtime.map({"Primetime":2,"Morning":1,"Daytime":0})
    x['expensive']=x.expensive.map({"High":2,"Medium":1,"Low":0})
    x['money_back_guarantee']=x.money_back_guarantee.map({"Yes":1,"No":0})
    x['realtionship_status']=x.realtionship_status.map({"Married-civ-spouse":6,"Never-married":5,"Divorced":4,"Widowed":3,"Separated":2,"Married-spouse-absent":1,"Married-AF-spouse":0})

In [54]:
df['ratings']=(df['ratings']*100000).astype(int)

In [55]:
test['ratings']=(test['ratings']*100000).astype(int)

In [56]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
for x in dataset:
    x['airlocation'] = le.fit_transform(x['airlocation'])

In [57]:
df['netgain'] = le.fit_transform(df.netgain)

In [58]:
df.head()

,id,realtionship_status,industry,genre,targeted_sex,average_runtime(minutes_per_week),airtime,airlocation,ratings,expensive,money_back_guarantee,netgain
0,19717,1,4,4,1,45,2,39,2746,2,0,0
1,31593,6,5,4,1,45,2,39,2746,0,0,0
2,5681,4,2,4,0,45,2,39,2746,2,1,0
3,15491,2,3,3,0,40,2,39,2746,0,0,0
4,23587,6,5,4,1,48,2,39,2746,2,0,1

In [59]:
y = df['netgain'].values

In [60]:
x = df.drop(['netgain'],axis=1).values

In [61]:
# from sklearn.model_selection import train_test_split
# x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2)

K Fold Cross Validation

In [62]:
from sklearn.model_selection import KFold
cv = KFold(n_splits=10,random_state=42,shuffle=False)
for train_index,test_index in cv.split(x):
    print("train index: ",train_index)
    print("test index: ",test_index)

train index:  [ 2605  2606  2607 ... 26045 26046 26047]
test index:  [   0    1    2 ... 2602 2603 2604]
train index:  [    0     1     2 ... 26045 26046 26047]
test index:  [2605 2606 2607 ... 5207 5208 5209]
train index:  [    0     1     2 ... 26045 26046 26047]
test index:  [5210 5211 5212 ... 7812 7813 7814]
train index:  [    0     1     2 ... 26045 26046 26047]
test index:  [ 7815  7816  7817 ... 10417 10418 10419]
train index:  [    0     1     2 ... 26045 26046 26047]
test index:  [10420 10421 10422 ... 13022 13023 13024]
train index:  [    0     1     2 ... 26045 26046 26047]
test index:  [13025 13026 13027 ... 15627 15628 15629]
train index:  [    0     1     2 ... 26045 26046 26047]
test index:  [15630 15631 15632 ... 18232 18233 18234]
train index:  [    0     1     2 ... 26045 26046 26047]
test index:  [18235 18236 18237 ... 20837 20838 20839]
train index:  [    0     1     2 ... 26045 26046 26047]
test index:  [20840 20841 20842 ... 23441 23442 23443]
train index:  [    0     1     2 ... 23441 23442 23443]
test index:  [23444 23445 23446 ... 26045 26046 26047]

In [63]:
x_train,x_test,y_train,y_test = x[train_index],x[test_index],y[train_index],y[test_index]

Naive Bayes GaussianNB

In [64]:
from sklearn.naive_bayes import GaussianNB
clf_naive = GaussianNB()
clf_naive.fit(x_train,y_train)

GaussianNB(priors=None, var_smoothing=1e-09)

In [65]:
y_pred = clf_naive.predict(x_test)

In [66]:
from sklearn import metrics
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.8022273425499232

XGBoost Classifier

In [67]:
from xgboost import XGBClassifier

In [68]:
alg = XGBClassifier(learning_rate=0.1, n_estimators=140, max_depth=5,
                        min_child_weight=3, gamma=0.2, subsample=0.6, colsample_bytree=1.0,
                        objective='binary:logistic', nthread=4, scale_pos_weight=1, seed=27)

In [69]:
alg.fit(x_train,y_train)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1.0, gamma=0.2,
              learning_rate=0.1, max_delta_step=0, max_depth=5,
              min_child_weight=3, missing=None, n_estimators=140, n_jobs=1,
              nthread=4, objective='binary:logistic', random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=27,
              silent=None, subsample=0.6, verbosity=1)

In [70]:
y_pred_xgboost = alg.predict(x_test)

In [71]:
from sklearn import metrics
print("Accuracy:",metrics.accuracy_score(y_test, y_pred_xgboost))

Accuracy: 0.8133640552995391

Testing the Data

In [72]:
x = test.values

In [73]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6513 entries, 0 to 6512
Data columns (total 11 columns):
id                                   6513 non-null int64
realtionship_status                  6513 non-null int64
industry                             6513 non-null int64
genre                                6513 non-null int64
targeted_sex                         6513 non-null int64
average_runtime(minutes_per_week)    6513 non-null int64
airtime                              6513 non-null int64
airlocation                          6513 non-null int64
ratings                              6513 non-null int64
expensive                            6513 non-null int64
money_back_guarantee                 6513 non-null int64
dtypes: int64(11)
memory usage: 559.8 KB

In [74]:
y_pred_xgboost = alg.predict(x)

In [75]:
dft = test['id']

In [76]:
type(dft)

pandas.core.series.Series

In [77]:
dft = pd.DataFrame(dft)

In [78]:
dft['netgain'] = y_pred_xgboost

In [79]:
dft.head()

   id  netgain
0   1        0
1   4        0
2   5        0
3   9        0
4  10        0

In [80]:
dft.netgain.value_counts()

0    5489
1    1024
Name: netgain, dtype: int64

In [81]:
dft.loc[dft['netgain']==0,'netgain']='false'
dft.loc[dft['netgain']==1,'netgain']='true'

In [82]:
dft.head()

   id netgain
0   1   false
1   4   false
2   5   false
3   9   false
4  10   false

In [83]:
dft.to_csv("Second_submission2.csv",index=False)

In [84]:
dft.head()

   id netgain
0   1   false
1   4   false
2   5   false
3   9   false
4  10   false